h1{color:#AE57A4;
text-align: center;}

div.scrollmenu{
    background-color : #FFC125;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display:inline-block;
    color:#000000;
    text-align:center;
    padding : 7px;
    text-decoration: none;
    border-style:;
    font-family: impact;
    margin-left: 25px;      <!--按键大小-->
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 1px;    <!--设置字间距-->
    text-overflow: clip;

}


body{
    background-image:url("images/comet.jpg");
background-repeat: no-repeat;
background-attachment:fixed;
background-size:cover;
        }<!--设置背景图片-->
        strong{color:#AE57A4;
        text-align: center;}
